html, body, .w3-content, .mySlides {
	height: 100%;
}
.mySlides {
	background-size: cover;
	width:100%;
}
body  {
 
 
 overflow: hidden;
}

@-webkit-keyframes fading
{
	0%
	{
		opacity:0;
		transform: scale(1.1);
	}
	50%
	{
		opacity:1;
		transform: scale(1);
	}
	100%
	{
		opacity:0;
		transform: scale(1.1);
	}
}

@keyframes fading
{
	0%
	{
		opacity:0;
		transform: scale(1.1);
	}
	50%
	{
		opacity:1;
		transform: scale(1);
	}
	100%
	{
		opacity:0;
		transform: scale(1.1);
	}
}
